#my_portrait{
width: 300px;
align-content: center;
transform-origin: right;
border-style: double;
border-color: #F2BF1E;
border-width: thick;
}
h1{
  font-family: cursive;
  color: #F2BF1E;
  text-shadow: 3px 3px #021B3D;
}
p{
  text-align: center;
  transform-origin: top;
  transform-origin: right;
    color: #3BAD9A
}
#content{
  background-color: #636DB0;
  border-style: dashed;
  border-color: #3BAD9A;
}
h2{
  font-family: cursive;
  color: #F2BF1E;
  text-shadow: 2px 2px #021B3D;
}
h3{
  font-family: cursive;
  color: #EE0385;
  text-shadow: 2px 2px #021B3D;
}
body{
  background-color: #9A5590
}
